.show {display:block;}

.tenor-gif-embed {
    width: fit-content;
    max-width: max-content;
}

.body {
    background-image: url(../Images/verde.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2{
    background: -webkit-linear-gradient(
       #6610F2, #0dcaf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 
 h1{
    background: -webkit-linear-gradient(
       #0dcaf0, #6610F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 p{
    background: -webkit-linear-gradient(
       #6610F2, #0dcaf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 a{
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    -webkit-text-fill-color: black;
 }
 