.show {display:block;}

.tenor-gif-embed {
    width: fit-content;
    max-width: max-content;
}

.body {
    background-image: url(../Images/verde.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
}
