.show {display:block;}

.tenor-gif-embed {
    width: fit-content;
    max-width: max-content;
}

.body {
    background-image: url(../Images/verde.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

